@{
    Layout = "_Layout";
}

@model Library.Models.Author;

<h2>Edit Author</h2>

<h4>Edit this author: @Html.DisplayFor(model => model.AuthorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.LabelFor(model => model.AuthorName)
  @Html.EditorFor(model => model.AuthorName)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to authors page", "Index")</p>